* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #050505;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Press Start 2P', cursive, monospace;
}

#game-container {
    border: 4px solid #ff0000;
    box-shadow: 0 0 20px #ff0000;
}

/* Mantém o Pixel Art perfeito e sem desfoque */
canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
